.MainPage_box{
    height: 5000px;
    width: 100%;
    background-color: beige;
    margin-top: 62px;

}

.boxoffice_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-start;
}

.boxoffice_box_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    border: 1px solid purple;
}

.boxoffice_box_header h3 {
    margin-left: 20px;
}

.boxoffice_box_poster {
    width: 250px;
    margin: 16px;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid red;
}

.boxoffice_box_poster img {
    max-width: 100%;
}

.boxoffice_box_2 {
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.boxoffice_box_info {
    display: flex;
    justify-content: space-between;
}

.boxoffice_box_info_detail {
    flex: 1;
    border-color: red;
}



.boxoffice_container {
    border: 1px solid red;
    
}

